
<div>
    <h2><span translate="testjhipsterApp.curso.detail.title">Curso</span> {{curso.id}}</h2>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="entity.detail.field">Field</th>
                    <th translate="entity.detail.value">Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <span translate="testjhipsterApp.curso.nome">Nome</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{curso.nome}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="testjhipsterApp.curso.ativo">Ativo</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{curso.ativo}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="testjhipsterApp.curso.modalidade">Modalidade</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{curso.modalidade}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="testjhipsterApp.curso.cargaHoraria">CargaHoraria</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{curso.cargaHoraria}}" readonly>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            ui-sref="curso"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
