<div>

    <h2 translate="testjhipsterApp.curso.home.title">Cursos</h2>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="curso.new">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="testjhipsterApp.curso.home.createLabel">Create a new Curso</span>
                </button>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteCursoConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(curso.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="testjhipsterApp.curso.delete.question" translate-values="{id: '{{curso.id}}'}">Are you sure you want to delete this Curso?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="global.field.id">ID</th>
                    <th translate="testjhipsterApp.curso.nome">Nome</th>
                    <th translate="testjhipsterApp.curso.ativo">Ativo</th>
                    <th translate="testjhipsterApp.curso.modalidade">Modalidade</th>
                    <th translate="testjhipsterApp.curso.cargaHoraria">CargaHoraria</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="curso in cursos">
                    <td><a ui-sref="curso.detail({id:curso.id})">{{curso.id}}</a></td>
                    <td>{{curso.nome}}</td>
                    <td>{{curso.ativo}}</td>
                    <td>{{curso.modalidade}}</td>
                    <td>{{curso.cargaHoraria}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="curso.detail({id:curso.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="curso.edit({id:curso.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(curso.id)"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pager">
                <li ng-show="links['first']" ng-click="loadPage(links['first'])"><a href="#">&lt;&lt;</a></li>
                <li ng-show="links['prev']" ng-click="loadPage(links['prev'])"><a href="#">&lt;</a></li>
                <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a href="#">&gt;</a></li>
                <li ng-show="links['last']" ng-click="loadPage(links['last'])"><a href="#">&gt;&gt;</a></li>
            </ul>
        </nav>
    </div>
</div>
