
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myCursoLabel" translate="testjhipsterApp.curso.home.createOrEditLabel">Create or edit a Curso</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label translate="global.field.id">ID</label>
            <input type="text" class="form-control" name="id"
                    ng-model="curso.id" readonly>
        </div>

        <div class="form-group">
            <label translate="testjhipsterApp.curso.nome" for="field_nome">Nome</label>
            <input type="text" class="form-control" name="nome" id="field_nome"
                    ng-model="curso.nome" required>

            <div ng-show="editForm.nome.$invalid">
                <p class="help-block"
                    ng-show="editForm.nome.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="testjhipsterApp.curso.ativo" for="field_ativo">Ativo</label>
            <input type="number" class="form-control" name="ativo" id="field_ativo"
                    ng-model="curso.ativo">

        </div>
        <div class="form-group">
            <label translate="testjhipsterApp.curso.modalidade" for="field_modalidade">Modalidade</label>
            <input type="text" class="form-control" name="modalidade" id="field_modalidade"
                    ng-model="curso.modalidade" required>

            <div ng-show="editForm.modalidade.$invalid">
                <p class="help-block"
                    ng-show="editForm.modalidade.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="testjhipsterApp.curso.cargaHoraria" for="field_cargaHoraria">CargaHoraria</label>
            <input type="text" class="form-control" name="cargaHoraria" id="field_cargaHoraria"
                    ng-model="curso.cargaHoraria" required ng-minlength="0">

            <div ng-show="editForm.cargaHoraria.$invalid">
                <p class="help-block"
                    ng-show="editForm.cargaHoraria.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.cargaHoraria.$error.minlength" translate="entity.validation.minlength" translate-value-min="0">
                    This field is required to be at least 0 characters.
                </p>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
